backend/.env
frontend/.env
backend/venv/
backend/__pycache__/
backend/.pycache_compile/
backend/.pytest_cache/
__pycache__/
.pytest_cache/
*.pyc
node_modules/
frontend/dist/
*.log
google-service-account.json
backend/google-service-account.json

venv/
.env
dist/
build/
*.json
!frontend/package.json
!frontend/package-lock.json
# Dados locais
dados/alunos.xlsx
dados/perfil_alunos.xlsx
dados/*.xlsx
!dados/exemplo_*.xlsx